<button class="lightbox-btn-trigger">
  {{ module.button_text }}
</button>


<div class="lightbox">
  <div class="lightbox-container">
    <div class="close"><span class="fa fa-times"></span></div>
    <div class="lightbox_content">
      {% if module.popup_heading %}
      <div class="lightbox-heading">
        <h1>
          {{ module.popup_heading }}
        </h1>
      </div>
      {% endif %}

      {% if module.popup_content_type == 'form' %}

          {% form
          form_to_use="{{ module.form.form_id }}"
          response_response_type="{{ module.form.response_type }}"
          response_message="{{ module.form.message }}"
          response_redirect_id="{{ module.form.redirect_id }}"
          response_redirect_url="{{module.form.redirect_url}}"
          gotowebinar_webinar_key="{{ module.form.gotowebinar_webinar_key }}"
        %}

      {% elif module.popup_content_type == 'image' %}

        {% if module.image.src %}
        <img src="{{ module.image.src }}" alt="{{ module.image.alt }}" width="{{ module.image.width }}" height="{{ module.image.height }}">
        {% endif %}

      {% elif module.popup_content_type == 'video' %}
      <div class="lightbox-vid-container">
        <iframe src="{{ module.video_url }}" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
      </div>

      {% elif module.popup_content_type == 'rich_text' %}

        {% inline_rich_text field="popup_text" value="{{ module.popup_text }}" %}

      {% endif %}

    </div>
  </div>
</div>
