.blog-pagination {
    display: block;
    text-align: center;
}
.blog-pagination > div {
    display: inline-block;
}
.blog-pagination a {
    color: #000;
    text-decoration: none;
}
.blog-pagination-left {
    text-align: right;
}
.blog-pagination-right {
    text-align: left;
}
.blog-pagination a {
    border-radius: 4px;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
}
.blog-pagination a:hover,
.blog-pagination a:focus {
    background-color: #c8ecff;
    text-decoration: none;
}
.blog-pagination a.elipses {
    border: 0;
}
.blog-pagination a.active {
    background-color: #f5f5f5;
    color: #666;
    pointer-events: none;
    cursor: default;
}
.blog-pagination a.next-link,
.blog-pagination a.prev-link,
.blog-pagination a.last-link,
.blog-pagination a.first-link{
    background-color: #666;
    color: #fff;
}
.blog-pagination a.next-link:hover,
.blog-pagination a.prev-link:hover,
.blog-pagination a.last-link:hover,
.blog-pagination a.first-link:hover{
    background-color: #008cd4;
    color: #fff;
}
