<div>
   {% if module.heading or module.subheading %}
   <div class="posts-heading">
     {% if module.heading %}<h2>{{ module.heading }}</h2>{% endif %}
     {% if module.subheading %}<h3>{{ module.subheading }}</h3> {% endif %}
   </div>
   {% endif %}

   {% set postToShow = module.number_of_posts %}
   {% set postToShow = postToShow + 1 %}
   {% set rec_posts = blog_recent_posts( module.select_blog, postToShow) %}
   {% set loopLength = postToShow %}
     <div class="rec-posts-group clearfix">
     {% for rec_post in rec_posts %}
     {% if content.absolute_url == rec_post.absolute_url %}
     {% set loopLength = postToShow + 1 %}
     {% endif %}
     {% if content.absolute_url != rec_post.absolute_url and loop.index < loopLength %}

       <div class="rec-post-item">
         {% if module.featured_image && rec_post.featured_image %}
         <a href="{{ rec_post.absolute_url }}">
          <img src="{{ rec_post.featured_image }}" alt="{{ rec_post.name|striptags }}" title="{{ rec_post.name|striptags }}">
         </a>
         {% endif %}
         {% if module.post_name %}
         <h4 class="rec-post-name"> <a href="{{ rec_post.absolute_url }}">{{ rec_post.name }}</a></h4>
         {% endif %}
         {% if module.post_publish_date %}
         <span class="rec-post-date">{{ rec_post.publish_date_local_time.strftime('%d') }} {{ rec_post.publish_date_local_time.strftime('%m') }} {{ rec_post.publish_date_local_time.strftime('%Y') }} </span>
         {% endif %}
         {% if module.post_summary %}
         <div class="rec-post-body">
          <p>{{ rec_post.post_list_content|safe|striptags|truncatehtml(250, ' ...' , false) }}</p>
         </div>
         {% endif %}
         {% if module.read_more_text %}
         <a class="rec-more-link" href="{{ rec_post.absolute_url }}">{{ module.read_more_text }}</a>
         {% endif %}
      </div>

   {% endif %}
  {% endfor %}
 </div>
</div>
