#related-post-listing ul.slick-dots {
    margin: 0 auto;
    list-style: none;
    width: fit-content;
  }
  #related-post-listing ul.slick-dots li button {
    display: none;
  }
  #related-post-listing ul.slick-dots li {
    float: left;
    display: block;
    width: 7px;
    height: 7px;
    border: 2px solid transparent;
    border-radius: 50%;
    margin-left: 3px;
    background: #000;
    position: relative;
    box-sizing: content-box;
    background-clip: padding-box;
    margin-right: 0 !important;
  }
  #related-post-listing ul.slick-dots li.slick-active {}
  #related-post-listing .slick-arrow {}
  #related-post-listing .slick-next {}
  #related-post-listing .slick-prev {}
  #related-post-listing .slick-track {}
  #related-post-listing .slick-active {}
  #related-post-listing .related-post-item.slick-slide {}
  #related-post-listing .related-post-item.slick-slide .related-image {}
  #related-post-listing .related-post-item.slick-slide .related-image img {}
  #related-post-listing .related-post-item.slick-slide .related-title {}
  #related-post-listing .related-post-item.slick-slide .related-title a {}